# Exemplo de configuração para ambiente local/produção
DB_URL=jdbc:postgresql://localhost:5432/edtech_db
DB_USER=edtech_user
DB_PASSWORD=edtech_password
GCS_BUCKET_NAME=edtech-academic-repo
GOOGLE_APPLICATION_CREDENTIALS=./secrets/gcp-key.json
JWT_SECRET=sua_chave_secreta_aqui